<div class="input-group position-relative" [class.disabled]="disabled">
  <div id="text-input"
       #input
       class="form-control"
       contenteditable="true"
       (blur)="onBlur()"
       (keydown.enter)="(!isMultilineText) ? emitMessage($event) : undefined"
       (keydown.shift.enter)="(isMultilineText) ? emitMessage($event) : undefined"
       (keydown.ArrowUp)="previousMessage()"
       (keydown.ArrowDown)="advanceMessage()">
  </div>
  <span class="placeholder" [hidden]="input.innerText.length > 0">{{placeholder}}</span>
  <div class="input-group-append">
    <div class="input-group-text">
      <button id="send-btn"
              class="btn"
              (mousedown)="$event.preventDefault()"
              (click)="emitMessage()">
        <fa-icon [icon]="faArrowCircleUp"></fa-icon>
      </button>
    </div>
  </div>
</div>
