:host {
  display: block;
  --btn-color: default;
}

.input-group.disabled, :not(.disabled) .placeholder {
  opacity: 0.5;
  pointer-events: none;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 0.6rem;

  transform: translate(0, -50%);

  padding-right: 2.5rem;
}

.input-group, .form-control, .input-group-append, .input-group-append > :first-child {
  border-color: inherit;
}

#text-input {
  height: auto;
  max-height: 6rem;
  overflow-y: scroll;

  padding: 0.6rem;

  color: black;
}

#send-btn {
  color: var(--btn-color);
  font-size: 1.5rem;
  padding: 0;

  align-self: flex-end;
}
#send-btn:hover > fa-icon {
  filter: brightness(120%);
}

.input-group > .input-group-append > :first-child {
  border-left: 0;
}

.input-group > .form-control {
  border-right: 0;
}

.input-group > .input-group-append {
  position: relative;
  z-index: 10;
}
.input-group-append > .input-group-text {
  z-index: 0;
  padding: 0.1rem 0.5rem;
}

.input-group > .form-control:focus ~ .input-group-append:before {
  display:block;
  content: "";

  position: absolute;
  top: 0;
  left: 0.45rem;
  bottom: 0;
  right: 0;

  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
