:host {
  --accent-color: rgba(0,0,0,.125);
  --header-text-color: black;
}

.card {
  border-color: var(--accent-color);
}
.card-header {
  background-color: var(--accent-color);
  color: var(--header-text-color);
}

.messages-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: inherit;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.messages-container > .pushdown {
  flex: 1;
}
