<messages-window [currentUser]="userService.currentUser$ | async"
                 [messages]="messageService.messages | async"
                 [hasConnection]="messageService.isConnected"></messages-window>

<users-panel [users]="userService.users$ | async"></users-panel>

<chat-input [placeholder]="(messageService.isConnected) ? 'Type a message or type \\help for a list of available commands' : 'No connection to server.'"
            [disabled]="!messageService.isConnected"
            (message)="messageService.sendMessage($event)"></chat-input>
