:host {
  --accent-color: rgba(0,0,0,.125);
  --header-text-color: black;
}

.card {
  border-color: var(--accent-color);
}
.card-header {
  background-color: var(--accent-color);
  color: var(--header-text-color);
}

.users-container {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.users-container > .pushdown {
  flex: 1;
}

.user {
  display: block;
  white-space: nowrap;
}

:host.horizontal .users-container {
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;
}

:host.horizontal .users-container > .pushdown {
  flex: 0;
}

:host.horizontal .users-container > .user {
  padding-right: 1rem;
}
